.btn {
    height: 8vh;
    width: 22.5vw;
    border-radius: 10px;
    color: white;
    font-size: 25px;
    border: none;
    cursor: pointer;
}

.btn:hover {
    border: 3px solid white;
}

.btn-green {
    background-color: #41c345;
}

.btn-dark {
    background-color: #111111;
    border: 1px solid #4D4D4D;
}
