.deposit-container {
	width: 65%;
}

.centered-input-container {
	width: 50%;
	margin: auto;
	padding: 10px;
    margin-top: 1vh;
    display: flex;
    flex-direction: row;
	justify-content: space-between;
}

.dropdown-container {
	min-width: 100%;
	/* width: 400x; */
	margin-top: 10px;
	margin-bottom: 10px;
	height: 58px;
	border-radius: 40px;
    border: none;
    color: rgb(31, 24, 24);
	background-color: #C4C4C4;
	font-size: 30px;
    padding: 8px;
	/* font-size: 300px; */
}

.dropdown-container-centered {
	/* min-width: 100%; */
	width: 8000x;
    margin: 10px;
	height: 58px;
	/* font-size: 300px; */
}

.inner-text {
	font-size: 300px;
}

.centered-text {
	font-size: 30px;
	/* text-align: center; */
}

.toggle-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.toggle-label {
	font-size: 15px;
	margin-left: 10px;
}

.input-component-header {
	margin-top: 20px;
}

.create-buttons-container {
	margin-top: 10vh;
}
