* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
}

body {
    background-color: black;
}

.pages {
    color: white;
    text-align: center;
    font-size: 3.5rem;
    margin-top: 10%;
}